<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guest List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<!-- 공통 네비게이션 바 포함 -->
<div th:replace="~{fragments/navbar :: nav}"></div>
<body>
<div class="container">
    <div>
        <h1>Guest List</h1>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
                <th>닉네임</th>
                <th>비밀번호</th>
                <th>이메일</th>
                <th>전화번호</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="guest : ${guests}">
                <td th:text="${guest.id}"></td>
                <td th:text="${guest.name}"></td>
                <td th:text="${guest.nickname}"></td>
                <td th:text="${guest.password}"></td>
                <td th:text="${guest.email}"></td>
                <td th:text="${guest.phone}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
