<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>식당 사진</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    body{
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 400;
      color: #333;
    }
    .photo-item {
      cursor: pointer;
    }
  </style>
</head>
<body>
<div th:replace="~{fragments/navbar :: nav}"></div>
<div class="container mt-4">
  <h2>레스토랑 사진 목록</h2>
  <div class="row">
    <div class="col-md-4" th:each="photo : ${photos}">
      <img th:src="${photo.url}" class="img-fluid photo-item" data-toggle="modal" data-target="#restaurantModal" th:data-id="${photo.restaurantId}" alt=""/>
    </div>
  </div>
</div>

<!-- 모달 -->
<div class="modal fade" id="restaurantModal" tabindex="-1" role="dialog" aria-labelledby="restaurantModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="restaurantModalLabel">레스토랑 상세정보</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="restaurantDetailContent">
        <!-- 레스토랑 상세 정보 로드 -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="reserveButton">예약하기</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.photo-item').click(function() {
      var restaurantId = $(this).attr('data-id');
      $('#restaurantDetailContent').load('/restaurant/detail/' + restaurantId);
    });
    $('#reserveButton').click(function() {
      alert('예약 페이지로 이동합니다.');
      window.location.href = '/reservation/form';
    });
  });
</script>
</body>
</html>
